{% extends "base.html" %}
{% block body_block %}
   <div class="jumbotron">
        <h2>{{ post_details.title }}</h2>
        <h3>@{{ post_details.author}} {{ post_details.published_date }}</h3>
        <h4>{{ post_details.text|safe|linebreaksbr }}</h4>

    <div class="container">
    <br>
     {% for comment in post_details.comments.all %}
             <p> {{ comment.created_date }}
                 {{ comment.text }} Posted by: <strong>@{{ comment.author }}</strong></p>
     {% empty %}
         <p>No comments posted.</p>
     {% endfor %}
      </div>
      <a class="btn btn-primary btn-comment" href="{% url 'myblog:createcom' %}">Add comment</a>
     </div>
{% endblock %}
