{% extends "base.html" %}
{% block body_block %}
   <div class="">
     <br>
     {% for post in posts %}
            <h3><a href="{{post.id}}/">{{post.title }}</a></h3>
            <h4>@{{ post.author}}</h4>
            <div class="date">
                <p>Published on: {{ post.published_date|date:"D M Y"}}
                </p>
            </div>
            <h6> <a href="{% url 'myblog:post_details' pk=post.pk %}">Comments: {{ post.comments.count }} </h6>
      {% endfor %}
   </div>
{% endblock %}
